<h2 class="title">
    APIS
</h2>
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let api of listApis">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{api.name.toUpperCase()}}
            </mat-panel-title>
            <mat-panel-description>
                <!-- {{api.type.toLocaleUpperCase()}} -->
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <div>Datos de configuración</div>
            <ul class="data-connection">
                <li>
                    <div class="title">Namespace:</div>
                    <div class="text">{{api.namespace}}</div>
                </li>
                <li>
                    <div class="title">Esto de acceso:</div>
                    <div class="text">{{api.disable}}</div>
                </li>
                <li>
                    <div class="title">Recursos:</div>
                    <div class="text">{{api.dirResources}}</div>
                </li>
                <li>
                    <div class="title">Base de datos:</div>
                    <div class="text">{{api.database}}</div>
                </li>
                <!-- <li>
                    <div class="title">Base de datos:</div>
                    <div class="text">{{api.dataConnection.database}}</div>
                </li> -->
                <li>
                    <div class="title">CORS:</div>
                    <!-- <div class="text">{{api.dataConnection.database}}</div> -->
                </li>
            </ul>
        </div>
    </mat-expansion-panel>
</mat-accordion>
