:host{
    display: grid;

    grid-template-rows: auto 1fr;
    height: 100%;

}
.content{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;

    .menu-lateral{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            &.select{
                background-color: rgb(18, 138, 236, 0.8);
                color: white;
                font-weight: 500;
            }
        }
    }

    .info-db{
        display: grid;
        grid-template-rows: auto 1fr auto;
        row-gap: 10px;
        // background-color: red;
        .title{
            font-weight: 500;
            display: flex;
            margin-bottom: 10px;
            font-size: 115%;
        }
        .info-db-data-connection{
            display: flex;
            column-gap: 30px;
            margin-bottom: 10px;
            .content-db{
                padding-left: 10px;
            }
            .item{
                display: flex;
                column-gap: 10px;
                div:first-child{
                    width: 95px;
                    color: gray;
                }
                
                div:last-child{
                    font-weight: 500;
                }
            }
        }
        .info-db-structure{
            display: grid;
            grid-template-rows: auto 1fr;

            nav{
                ul{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    column-gap: 20px;
                    li{
                        cursor: pointer;
                        font-weight: 500;
                        &.select{
                            color: rgb(18, 138, 236, 0.8);
                            transform: scale(1.2);
                            transition: all 0.4s;
                        }
                    }
                }
            }
            .info-db-structure-content{
                position: relative;
                overflow: auto;
                mat-tab-group{
                    position: absolute;
                    top: 0; right: 0; left: 0; bottom: 0;
                }
            }
                
            .tab-content-db{
                width: 100%;

                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        column-gap: 15px;
                    }
                }
            }
        }

        .info-db-actions{
            padding: 10px;
            display: flex;
            column-gap: 10px;
            // background-color: red;
        }
    }
}