<h2>Bases de datos utilizadas</h2>
<div class="panel">
  <button mat-stroked-button (click)="insertDb()">
    <mat-icon>
      add
    </mat-icon>
    <span>
      Agregar
    </span>
  </button>
  <button mat-stroked-button (click)="loadDatabases()">
    <mat-icon>
      refresh
    </mat-icon>
    <span>
      Actializar
    </span>
  </button>
</div>
<div class="content">
  <ul>
    <!-- <a target="_blank" href="https://icons8.com/icon/38561/postgresql">PostgreSQL</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
    <li *ngFor="let db of databases">
      <img [src]="db.type == 'mysql' ? './../../../assets/icon-mysql.svg' : './../../../assets/icon-postgresql.svg'" alt="">
      <div class="info">
        <span class="name">{{db.name}}</span>
        <div class="description">
          {{db.description}}
        </div>
      </div>
      <div class="controls">
        <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{db}">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </li>
  </ul>
</div>

<mat-menu #menu="matMenu" xPosition="before">
  <ng-template matMenuContent let-db="db">
    <button mat-menu-item (click)="showDbInfo(db)">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
    <button mat-menu-item (click)="deleteDatabase(db.name)">
      <mat-icon>delete</mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
  
</mat-menu>