<h2>Table [ {{tableName}} ]</h2>
<mat-dialog-content>
    <div>Comentario: </div>
    <nav>
        <ul>
            <li (click)="selectIndex(0)">Columnas</li>
            <li (click)="selectIndex(1)">Código CREATE</li>
            <li>Datos</li>
        </ul>
    </nav>

    <section>
        <div class="section-item colums" [ngClass]="index == 0 ? 'show' : ''">
           <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Tipo de dato</th>
                            <th>Perimite NULL</th>
                            <th>Key</th>
                            <th>Predeterminado</th>
                            <th>Extra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let column of tableInfo.info.columns; let i = index">
                            <td class="index">
                                <div>
                                    <mat-icon *ngIf="column.key != ''" [ngClass]="column.key =='PRI' ? 'pri' : ''">key</mat-icon>
                                    {{(i + 1).toString().padStart(2, '0')}}
                                </div>
                            </td>
                            <td><div>{{column.field}}</div></td>
                            <td class="uppercase"><div>{{column.type}}</div></td>
                            <td><div>{{column.null}}</div></td>
                            <td class="uppercase"><div>{{column.key}}</div></td>
                            <td><div>{{column.default == null ? 'NULL' : column.default }}</div></td>
                            <td><div>{{column.extra}}</div></td>
                        </tr>
                    </tbody>
                </table>
           </div>
        </div>
        <div class="section-item create" [ngClass]="index == 1 ? 'show' : ''">
           <div class="content"> 
                <app-page-code [codeText]="tableInfo.info.create"></app-page-code>
           </div>
           <div class="actions">
               <button mat-stroked-button (click)="copyCode()">Copiar código</button>
           </div>
        </div>
    </section>

</mat-dialog-content>