:host{
    display: grid;
    grid-template-rows: auto 1fr;
}
nav{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        column-gap: 30px;
        cursor: pointer;
    }
}

section{
    // display: flex;
    .section-item{
        width: 100%;
        display: none;
        padding: 2px;
        &.show{
            display: unset;
        }
        .content{
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 1px 1px rgba(134, 134, 134, 0.527);
            // display: flex;
            // flex-direction: column;
            // row-gap: 5px;

        }
        .actions{
            margin-top: 5px;
        }
    }
    .info{
        
    }

    
    .colums{

        .title{
            font-size: 110%;
            font-weight: 400;
        }
        table{
            border-collapse: collapse;
            tbody{
                tr{
                    border-bottom: 1px solid rgba(180, 174, 174, 0.644);
                    &:last-child{
                        border-bottom: none;
                    }
                }
                td{
                    // background-color: red;
                    div{
                        padding: 3px;
                    }
                }
                td.index{
                    div{
                        display: flex;
                        justify-content: flex-end;
                        column-gap: 5px;
                        align-items: center;
                        border-right: 1px solid rgba(59, 59, 59, 0.616);
                        mat-icon{
                            color: rgb(143, 19, 19);
                            &.pri{
                                color: rgb(182, 171, 12);
                            }
                        }
                    }
                }
                td{
                    padding: 0 10px;
                }
            }

        }
    }
}