<header>
  <div class="logo">
    HNOVA | API
  </div>
  <!-- Barra de navegación -->
  <nav>
    <!-- Menus-->
    <ul>
      <li><mat-icon>assignment</mat-icon><span>Errores</span></li>
      <li><mat-icon>api</mat-icon> <span>APIS</span></li>
      <li><mat-icon>topic</mat-icon> <span>Bases de datos</span></li>
      <li><mat-icon>settings</mat-icon><span>Configuraciones</span></li>
      <li><mat-icon>logout</mat-icon><span>Salir</span></li>
    </ul>
  </nav>
</header>

<section>
  <div>
    <app-databases></app-databases>
  </div>
</section>
<footer>
  <div>App desarollada por: Heiler Nova</div>
</footer>