mat-dialog-content{
    display: flex;
    flex-direction: column;
}
::ng-deep{
    .pn{
        .mat-dialog-container{
            animation-name: show;
            animation-duration: 0.5s;
            // background-color: red;
        }
    }
    .backdrop-login{
        background-color: rgb(18, 138, 236);
        // position: relative;
        &::before{
            position: fixed;
            z-index: 0;
            color: rgb(223, 219, 219);
            font-weight: 500;
            font-size: 120%;

            content: 'App desarrollada por Heiler Nova';
            text-align: center;
            height: 20px;
            width: 100%;
            bottom: 10px;
        }
    }
}

@keyframes show{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}