<h2>Errores de peticiones HTTP</h2>
<div class="controls">
    <!-- <div [ngStyle]="{width: '100%'}">Lista de errores</div> -->
    <!-- <button>Sin revisar</button> -->
    <button (click)="updateList()" mat-button>Actualizar lista</button>
    <button mat-icon-button><mat-icon>filter_alt</mat-icon></button>
    <mat-paginator [length]="100"
                  [pageSize]="1"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
    </mat-paginator>
</div>

<mat-accordion>
    <mat-expansion-panel *ngFor="let error of listErrors">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="method" [ngClass]="error.httpRequest.method">{{error.httpRequest.method}}</div>
                <div class="date">{{error.date |  date:'dd MMM yyyy h:m:ss aaa'}}</div>
            </mat-panel-title>
            <mat-panel-description>
                {{error.api}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="error">
            <!-- Información del cliente de la consulta HTTP -->
            <div class="error-secction">
                <div class="error-secction-title">
                    Información del cliente
                </div>
                <div class="error-secction-content">
                    <div class="flex">
                        <div class="error-item">
                            <div class="error-item-title">IP:</div>
                            <div class="error-item-content">{{error.httpRequest.ip}}</div>
                        </div>
                        <div class="error-item">
                            <div class="error-item-title">URL:</div>
                            <div class="error-item-content">{{error.httpRequest.url}}</div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="error-item">
                            <div class="error-item-title">Dispositivo:</div>
                            <div class="error-item-content">{{getDevice(error.httpRequest.device)}}</div>
                        </div>
                        <div class="error-item">
                            <div class="error-item-title">Plataforma:</div>
                            <div class="error-item-content">{{error.httpRequest.platform}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mensaje del desarrollador -->
            <div class="error-secction">
                <div class="error-secction-title">
                    Mensaje del desarrollador
                </div>
                <div class="error-secction-content" *ngFor="let line of error.messageDeveloper">
                    {{line}}
                </div>
            </div>
            <!-- Mensaje de error -->
            <div class="error-secction">
                <div class="error-secction-title">
                    Registro de error
                </div>
                <div class="error-secction-content">
                    <div class="error-item">
                        <div class="error-item-title">Mensaje:</div>
                        <div class="error-item-content">{{error.mensajeError}}</div>
                    </div>
                    <div class="error-item">
                        <div class="error-item-title">Código:</div>
                        <div class="error-item-content">{{error.code}}</div>
                    </div>
                    <div class="error-item">
                        <div class="error-item-title">Archivo:</div>
                        <div class="error-item-content">{{error.file}}</div>
                    </div>
                    <div class="error-item">
                        <div class="error-item-title">Linea:</div>
                        <div class="error-item-content">{{error.line}}</div>
                    </div>
                    <button mat-button (click)="showErrorTrace(error.trace)">Ver rastro del error</button>
                </div>
            </div>
            <div class="error-actions">
                <button mat-button>Marcar como revisador</button>
                <button mat-button>Agregar comentario  </button>
                <button mat-button>Eliminar</button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>
