.mat-dialog-content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .trace-item{
        display: flex;
        column-gap: 10px;
        // background-color: red;
        .trace-item-title{
            width: 50px;
            font-size: 95%;
        }
        .trace-item-content{
            font-size: 110%;
            font-family: "Cascadia Code";
            font-weight: 500;
        }
    }

}